* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    animation: body 1s linear;
    background-color: #fff2f2;
    font-family: 'IBM Plex Sans', sans-serif;


}

:root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.container {
    width: 85%;
    margin: auto;
}


.header {
    width: 100%;
    padding: 5px 0;
}

.headerWrper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    width: 180px;
}

.navWrper>ul {
    display: flex;
    align-items: center;
    grid-gap: 25px;
    justify-content: center;
    list-style: none;
    background-color: #fff;
    border-radius: 20px;
}

.navLink {
    padding: 10px 15px;
    border-radius: 20px;
    transition: all.3s;
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navLink:hover {
    background: #fc481d;
    cursor: pointer;
    color: #fff;
}

.cartWrper {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 20px;
}

.cartWrper>div {
    font-size: 17px;
    font-weight: 500;
}

.cartWrper:hover {
    background: #fc481d;
    color: #fff;
    cursor: pointer;
}



/* hero section css here */

.heroWrper {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    height: 70vh;
}

.heroHeader {
    position: absolute;
    width: 100%;
    text-align: center;
}

.heroHeader>h1 {
    color: #fc481d;
    letter-spacing: 80px !important;
    font-size: 200px !important;
    z-index: 1;
    text-align: center;
}

.herobgProduct {
    height: 500px;
    width: 500px;
    z-index: -10;
}

.herobgProduct {
    position: fixed;
    top: 0;
    left: 0;
}



/* 25% off section css start from here */
.Off {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
}

.offheading {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 500;
}

.imageAndTopHeaderwtp {
    display: flex;
    grid-gap: 5px;
    align-items: center;
    margin-left: -8px;
}

.dot {
    color: #fc481d;
}

.wordFistheader {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(61, 61, 61);
}

.incresseheader {
    color: rgb(61, 61, 61);
    font-weight: 500;
}

.discoutnbtnGroup {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}


.shopnowbtn {
    padding: 10px 15px;
    background: black;
    border-radius: 25px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
    margin: 20px 0px;
    cursor: pointer;
}

.introvedio {
    padding: 6px 15px;
    border-radius: 25px;
    border: 1px solid rgb(39, 39, 39);
    outline: none;
    color: black;
    background: #fff2f2;
    font-size: 19px;
    margin: 20px 0px;
    cursor: pointer;
    display: flex;
    grid-gap: 5px;
    align-items: center;
}

.introvedio>img {
    width: 30px;
    height: 30px;
}

.playbtnHover {
    height: 110px;
    width: 250px;
    display: none;
    position: absolute;
    left: 420px;
}

.demodevio {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.introvedio:hover+.playbtnHover {
    display: block !important;
}

.playbtnHover:hover {
    display: block;
}

/* build for batter cycling css start from here */
.buildforbatterCycling {
    background: #fc481d;
    color: #fff;
    z-index: 100;
}

.buildingforcyclingWrper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.buildLearnmorebtn {
    background: #fff;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 5px;
}

.buildingheader {
    font-size: 80px;
    font-weight: 500;
    text-transform: uppercase;
}

.builtImg {
    height: 100%;
    width: 570px;
}

.builtImageWrper {
    position: relative;
}

.div1 {
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 256px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.lineandtext1{
    display:none;
    gap: 5px;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: 100px;
    width: fit-content;
    top: 140px;
    left: 280px;
}
.line{
    height: 1px;
    background: black;
    width: 150px;
}
.divtext{
    background: black;
    padding: 5px;
    border-radius: 10px;
}

.div1:hover+.lineandtext1{
   display: flex;
}



.div2 {
    position: absolute;
    z-index: 1;
    top: 288px;
    left: 400px;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

.lineandtext2{
    display:none;
    gap: 5px;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: fit-content;
    top: 280px;
    left: 425px;
}

.div2:hover+.lineandtext2{
    display: flex;
 }

.div3 {
    position: absolute;
    z-index: 1;
    top: 285px;
    left: 105px;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


.lineandtext3{
    display:none;
    gap: 5px;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: fit-content;
    top: 285px;
    left: -190px;
}

.div3:hover+.lineandtext3{
    display: flex;
 }



.div4 {
    position: absolute;
    z-index: 1;
    top: 542px;
    left: 68px;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.lineandtext4{
    display:none;
    gap: 5px;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: fit-content;
    top: 545px;
    left: 92px;
}

.div4:hover+.lineandtext4{
    display: flex;
 }


.div5 {
    position: absolute;
    z-index: 1;
    top: 475px;
    left: 395px;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.lineandtext5{
    display:none;
    gap: 5px;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: fit-content;
    top: 475px;
    left: -50px;
}

.div5:hover+.lineandtext5{
    display: flex;
 }


.div6 {
    position: absolute;
    z-index: 1;
    top: 640px;
    left: 225px;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.lineandtext6{
    display:none;
    gap: 5px;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: fit-content;
    top: 630px;
    left: 257px;
}

.div6:hover+.lineandtext6{
    display: flex;
 }



/* what makes section css code start from here */
.whatmakes {
    background: #fff2f2;
    padding: 30px 0px;
}

.whatmakesWrperTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.whatmakesWrperTop>div {
    width: 100%;
}

.whatmakesheadeing {
    font-size: 80px;
    font-weight: 500;
    color: #fc481d;
}

.swiper {
    width: 600px;
    height: 400px;
}

.swiperImg {
    height: 100%;
}

.swiper-button-prev {
    color: #fc481d;
}

.swiper-button-next {
    color: #fc481d;
}

.swiper-pagination-bullet {
    background: #fc481d !important;
}

.discription {
    padding-top: 70px;
    width: 100%;
}

.diser {
    height: 200px;
    width: 100%;
}

.disWrper {
    height: 100% !important;
    width: 100%;
}

.disDis {
    text-align: center;
    font-size: 18px;
    color: rgb(74, 74, 74);
    width: 70%;
    margin: auto;
}

.disWrp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disWrp>div {
    border-left: 1px solid black;
    padding: 0px 20px;
    width: 100%;
}

.one1 {
    color: black;
    font-weight: 500;
}

.two1 {
    opacity: .40;
}

.three1 {
    opacity: .40;
}

.one2 {
    opacity: .40;
}

.two2 {
    color: black;
    font-weight: 500;
}

.three2 {
    opacity: .40;
}

.one3 {
    opacity: .40;
}

.two3 {
    opacity: .40;
}

.three3 {
    color: black;
    font-weight: 500;
}

.one4 {
    opacity: .40;
}

.two4 {
    opacity: .40;
}

.three4 {
    color: black;
    font-weight: 500;
}

.two1:hover {
    color: black;
    font-weight: 500;
    opacity: 1;
}

.three1:hover {
    opacity: 1;
    color: black;
    font-weight: 500;
}

.one2:hover {
    color: black;
    font-weight: 500;
    opacity: 1;
}

.three2:hover {
    opacity: 1;
    color: black;
    font-weight: 500;
}

.one3:hover {
    color: black;
    font-weight: 500;
    opacity: 1;
}

.two3:hover {
    opacity: 1;
    color: black;
    font-weight: 500;
}

.one4:hover {
    color: black;
    font-weight: 500;
    opacity: 1;
}

.two4:hover {
    opacity: 1;
    color: black;
    font-weight: 500;
}

/* patner section css code here */
.patner {
    background: #fff;
    margin-bottom: -30px;
}

.patnerImg {
    height: 100%;
    width: 100%;
    z-index: 1;
}





/* review section css code add here */

.reviewsection {
    background: #fff;
    margin-bottom: -23px;
    padding-bottom: 60px;
    padding-top: 80px;

}

.reviewswrp>h1 {
    font-size: 60px;
    font-weight: 500;
    color: #fc481d;
}

.reviewswrp>span {
    font-size: 20px;
    font-weight: 500;
}


.feedbackWrpinreview {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    gap: 20px;
    overflow-x: scroll;
}


.feedbackWrpinreview>div {
    width: 300px;
    border-radius: 10px;
    height: fit-content;
    min-height: 270px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.splide__slide {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.splide__slide:hover {
    background: #f9e0e0;
}

.splide__slide:hover .star {
    color: #fc481d !important;
}


.star {
    font-size: 30px;
    color: #ddd;
}


.slideVedio {
    display: none;
}

.slideimage {
    width: 100% !important;
    margin: auto;
    border-radius: 12px;
}

.splide__slide:hover .slideVedio {
    display: block;
}


.feedbackWrpinreview>div:hover .reviewHead {
    color: black !important;
}

.feedbackWrpinreview>div:hover .reviewDis {
    color: black !important;
}


.reviewHead {
    font-size: 30px;
    font-weight: 500;
    padding: 13px 0px;
    color: black;
}

.reviewDis {
    font-size: 18px;
    font-weight: 500;
    color: rgb(138, 138, 138);
}


.splide {
    width: 100%;
    position: relative;
}




/* sign up section start from here css code */
.signUpSection {
    background: #eeebeb;
    padding: 30px 0px;
}

.SignupWrper>h1 {
    font-size: 26px;
    color: black;
    font-weight: 500;
}

.SignupWrper>p {
    font-size: 18px;
    color: rgb(98, 98, 98);
    padding-bottom: 30px;
}

.SignupWrper>input {
    padding: 10px;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 15px;
    font-size: 17px;
    width: 50%;
}

.SignupWrper>button {
    background: #fc481d;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 25px;
    padding: 8px;
    font-size: 20px;
}



/* footer section css code here */
.footer {
    background: #fc481d;
    height: fit-content;
    width: 100%;
    color: #fff;
    padding: 50px 0px;
}

.footerHeader {
    font-size: 220px;
    text-align: center;
    letter-spacing: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

.allpolicyWrp {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 30px;
}

.allpolicyWrp>div>ul {
    display: flex;
    list-style: none;
    align-items: center;
    grid-gap: 20px;
}

.allpolicyWrp>div>ul>li>a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}




/* faq section css code here */

.title {
    text-align: center;
    font-size: 40px;
    padding: 20px 0px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.faqSection {
    background: #e84118;
    padding-top: 30px;
    padding-bottom: 50px;
}

/* FAQ Container */
.faq-container {
    max-width: 80%;
    margin: 0 auto;
}

/* FAQ Accordion */
.accordion {
    background: transparent;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
    font-size: 18px;
    border-bottom: 1px solid #fa8568;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion:hover {
    background-color: #fa603a;
}

.accordion.active {
    background-color: #cb3a16;
}

/* FAQ Panel */
.panel {
    padding: 0px 18px;
    background-color: #cb3a16;
    color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.panel>p {
    padding: 15px 0px;
}

.panel.show {
    max-height: 500px;
    /* Adjust the value to fit your content */
}

.plusIcon {
    font-size: 35px;
}


















/* shop page css code start from here */

/* shop item section css code */
.shopSection {
    padding: 60px 0px;
}

.shopHeaderWrp {
    display: flex;
    gap: 30px;
}

.shopHeaderWrp>h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: #fc481d;
    line-height: 50px;
    font-weight: 500;
}

.shopHeaderWrp>div {
    width: 100%;
}

.SingleShop {
    width: 100%;
    border-top: 2px solid #fc481d;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.firstclicd {
    margin-top: 90px;
}


.singleshopheaderwrp>h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.singleshopheaderwrp>div {
    font-size: 20px;
    padding: 15px 0px;
    display: flex;
    gap: 10px;
}

/* //single shop item page css code here */
.singlefrist {
    border: none;
    align-items: center !important;
    padding: 0px;
}

.itemHeaderWrp {
    width: 100%;
    border-right: 1px solid #ff977c;
    padding-right: 30px;
}

.shareandbackWrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backimg {
    margin-left: -15px;
}

.itemHeaderWrp>h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 10px;
    color: #fc481d;
}

.itemHeaderWrp>p {
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(46, 46, 46);
}

.singlesopPriceingGroup {
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: #fc481d;
    padding-top: 10px;
}

.itemHeaderWrp>small {
    text-transform: uppercase;
    color: #fc481d;
    font-weight: 500;
}

.singleShopItemsButtonGroup {
    padding-bottom: 20px;
    padding-top: 30px;
    display: flex;
    gap: 30px;
}

.singleShopItemsButtonGroup>button {
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.addtocartSingleshop {
    background: black;
    color: #fff;
}

.shoppaysingleShop {
    border: 1px solid #fc481d !important;
    background-color: #fff2f2;
}

.itemHeaderWrp>a {
    font-size: 20px;
    color: black;
}

.singeshopitemimg {
    height: 100%;
}


/* about us page css code start from here */
.aboutWrper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.aboutdetailseWrp>h1 {
    color: #fc481d;
    font-size: 60px;
    font-weight: 500;
}

.aboutdetailseWrp>p {

    color: #fc481d;
    font-size: 18px;
}

.aboutdetailseWrp {
    width: 60%;

}

.aboutheroWrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abouthero {
    width: 70%;
    border-radius: 15px;
}

.aboutheroWrp>h2 {
    color: #fc481d;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
}

.aboutheroWrp>p {
    color: #fc481d;
    text-transform: capitalize;
    text-align: center;
    width: 70%;
    margin: auto;
}

.contactusinaboutWrp {
    padding-top: 80px;
}

.contactusinaboutWrp>h1 {
    font-size: 40px;
    font-weight: 500;
}

.contactusinaboutWrp>div {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.contactusinaboutWrp>div>input {
    padding: 15px;
    width: 60%;
    border-radius: 15px;
    border: 1px solid #fc481d;
    background: #fff;
    color: black;
    margin: 10px 0px;
    font-size: 16px;

}

.contactusinaboutWrp>div>textarea {
    padding: 15px;
    width: 60%;
    border-radius: 15px;
    border: 1px solid #fc481d;
    background: #fff;
    color: black;
    margin: 10px 0px;
    height: 200px;
    font-size: 16px;

}

.sendbuttbnaboutus {
    padding: 13px 20px;
    border-radius: 20px;
    background: black;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}